/* Block advantages */


//Mobile version

.advantages {
 font-family: 'Oswald', Arial, Helvetica , sans-serif;
 font-size: 14px;
 line-height: 18px;
 font-weight: 400;
 color: map-get($text-color, gray);
}

.advantages__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 15px;

  font: inherit;
  font-size: 36px;
  line-height: 60px;
  color: map-get($text-color, black);
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  position: relative;

  display: flex;  
  justify-content: flex-start;
  margin-bottom: 20px;
}

.advantages__item::last-child {
  margin-bottom: 0;
}

.advantages__item::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 60px;
  height: 60px;

  background-color: map-get($bg-color, green-light);
}


.advantages__item--substances::before {
  background-image: url('../img/advantage/advantage-substances.png');
  background-repeat: no-repeat;
  background-position: 17px 16px;
  background-size: 26px, auto;

  @media ( min-resolution: $resolution-dpi-2x ),
  ( min-resolution: $resolution-dppx-2x ) {
    background-image: url('../img/advantage/advantage-substances@2x.png');
  }

  @media ( min-resolution: $resolution-dpi-3x ),
  ( min-resolution: $resolution-dppx-3x ) {
    background-image: url('../img/advantage/advantage-substances@3x.png');
  }
}

.advantages__item--view::before {
  background-image: url('../img/advantage/advantage-view.png');
  background-repeat: no-repeat;
  background-position: 15px 13px;
  background-size: 29px, auto;

  @media ( min-resolution: $resolution-dpi-2x ),
  ( min-resolution: $resolution-dppx-2x ) {
    background-image: url('../img/advantage/advantage-view@2x.png');
  }

  @media ( min-resolution: $resolution-dpi-3x ),
  ( min-resolution: $resolution-dppx-3x ) {
    background-image: url('../img/advantage/advantage-view@3x.png');
  }
}

.advantages__item--food::before {
  background-image: url('../img/advantage/advantage-food.png');
  background-repeat: no-repeat;
  background-position: 18px 15px;
  background-size: 23px, auto;

  @media ( min-resolution: $resolution-dpi-2x ),
  ( min-resolution: $resolution-dppx-2x ) {
    background-image: url('../img/advantage/advantage-food@2x.png');
  }

  @media ( min-resolution: $resolution-dpi-3x ),
  ( min-resolution: $resolution-dppx-3x ) {
    background-image: url('../img/advantage/advantage-food@3x.png');
  }
}

.advantages__item--time::before {
  background-image: url('../img/advantage/advantage-time.png');
  background-repeat: no-repeat;
  background-position: 17px 15px;
  background-size: 26px, auto;

  @media ( min-resolution: $resolution-dpi-2x ),
  ( min-resolution: $resolution-dppx-2x ) {
    background-image: url('../img/advantage/advantage-time@2x.png');
  }

  @media ( min-resolution: $resolution-dpi-3x ),
  ( min-resolution: $resolution-dppx-3x ) {
    background-image: url('../img/advantage/advantage-time@3x.png');
  }
}


.advantages__text {
  align-self: flex-start;
  width: 195px; 
  margin: 0;
  margin-left: 80px;
  padding-top: 3px;
  padding-bottom: 3px;

  font-family: Arial, Helvetica, sans-serif;
}


//Tablet version

@media ( min-width: $tablet-width ) {

  .advantages__wrapper {
    width: 768px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 55px;

    border-bottom: 1px solid map-get($line-color, silver);
  }

  .advantages__title {
    margin-bottom: 65px;

    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages__item {

    display: block;
    width: 325px;
    margin: 0;
    padding: 0;

    &--substances,
    &--view {
      margin-bottom: 90px;
    }
  }

  .advantages__item::before {
    width: 80px;
    height: 80px;
  }

  .advantages__item--substances::before {
    background-position: 27px 26px;
  }

  .advantages__item--view::before {
    background-position: 25px 23px;
  }

  .advantages__item--food::before {
    background-position: 28px 25px;
  }

  .advantages__item--time::before {
    background-position: 27px 25px;
  }

  .advantages__item::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: block;

    content: '';
    font-size: 281px;
    line-height: 212px;
    color: map-get($text-color, smoke);
  }

  .advantages__item--substances::after {
    left: 118px;

    content: '1';
  }

  .advantages__item--view::after {
    left: 112px;

    content: '2';
  }

  .advantages__item--food::after {
    left: 115px;

    content: '3';
  }

  .advantages__item--time::after {
    left: 115px;

    content: '4';
  }

  .advantages__text {
    width: 255px;
    margin: 0;
    margin-top: 114px;
    margin-bottom: 50px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
  }
}


//Desktop version

@media ( min-width: $desktop-width ) {

  .advantages__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 0;

    border: none;
  }

  .advantages__list {
    padding: 0;
  }

  .advantages__item {
    width: 245px;

    &--substances,
    &--view {
      margin: 0;
    }
  }
}
