/* Block catalog */


//Mobile version

.catalog {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: map-get($text-color, black);
}

.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 20px;

  font: inherit;
}

.catalog__title::before,
.catalog__title::after {
  content: '';

  width: 49px;
  height: 3px;
  flex-grow: 1;
  flex-shrink: 0;

  background-color: map-get( $bg-color, green-light );
}

.catalog__title::before {
  display: none;
}

.catalog__title::after {
  margin-left: 25px;
}

.catalog__list--additional {
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.catalog__gift {
  margin: 0 auto;
}


//Tablet version 

@media (min-width: $tablet-width) {

  .catalog__wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-top: 75px;
    padding-left: 30px; 
    padding-right: 30px;
  }

  .catalog__item {
    margin-right: 60px; 
    margin-bottom: 60px;

  }

  .catalog__item:nth-child(2n) { 
    margin-right: 0; 
  }

  .catalog__title {
    margin: 0;
    margin-bottom: 75px;
    padding: 0;

    font-size: 36px;
    line-height: 36px;
  }

  .catalog__title::before {
    flex-grow: 0;
    display: block;
    width: 28px;
    margin-right: 40px;
  }

  .catalog__title::after {
    margin-left: 40px;
  }

  .catalog__inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .catalog__list--additional {
    margin: 0;
    margin-bottom: 70px;
    padding: 0; 

    border: 1px solid map-get( $border-color, grainsboro );
  }

  .catalog__list--additional .catalog__item {
    width: 100%;
    margin: 0;
  }
}


//Desktop version

@media ( min-width: $desktop-width ) {

  .catalog__wrapper {
    width: 1440px;
  }

  .catalog__list {
    padding-left: 110px;
    padding-right: 110px;
  }

  .catalog__item:not(:nth-child(4n+4)) {
    margin-right: 80px;
  }

  .catalog__inner {
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
  }

  .catalog__list--additional {
    width: 900px;
    flex-basis: 900px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;

    border: none;
  }

  .catalog__list--additional .catalog__item {
    margin: 0;
  }

  
}
