/* Block contacts */


//Mobile version

.contacts {
  display: flex;
  margin-bottom: 25px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;

  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: map-get($text-color, black);
}

.contacts__invite {
  flex-basis: 50%;
  margin: 0;

  text-transform: uppercase;
}

.contacts__address {
  flex-basis: 50%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: map-get($text-color, gray);
}

.contacts__address p {
  margin: 0;
}



//Tablet version

@media ( min-width: $tablet-width ) {

  .contacts {
    margin-bottom: 55px;
    padding-top: 65px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .contacts__invite {
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__city {
    padding-top: 20px;
  }
}



//Desktop version

@media ( min-width: $desktop-width ) {

  .contacts {
    box-sizing: border-box;
    display: flex;
    width: 570px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: 65px;
    padding-left: 75px;
    padding-right: 90px;
    padding-bottom: 55px;

    background-color: map-get( $bg-color, white );
  }

  .contacts__invite {
    flex-basis: auto;
  }

  .contacts__address {
    flex-basis: auto;
    text-align: left;
  }
}
