/* Block demo */


//Mobile version


.demo {
  position: relative;

  width: 320px;
  height: 280px;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style: none;
}

.demo__item {
  position: absolute;
  top: 0;
  
  width: 0;
  height: 280px;

  overflow: hidden;

  &--before {
    left: 0;

    width: 100%;
  }

  &--after {
    right: 0;

    width: 0;
  }
}

.demo__item img {
  position: absolute;
}

.demo__item--before img {
  top: 44px;
  left: 0;
  z-index: 2;

  max-width: 311px;
}

.demo__item--after img {
  top: 36px;
  right: 26px;
  z-index: 1;

  max-width: 251px;
}


//Tablet version


@media ( min-width: $tablet-width ) {

  .demo {
    width: 768px;
    height: 517px;
  }


  .demo__item {

    height: 517px;

    &--before {
      width: 50%;
    }

    &--after {
      width: 50%;
    }
  }


  .demo__item--before img {
    top: 20px;
    left: 46px;

    max-width: 677px;
  }

  .demo__item--after img {
    top: 0;
    right: 86px;

    max-width: 545px;
    height: auto;
  }

}

//Desktop version

@media (min-width: $desktop-width) {

  .demo {
    width: 788px;
  }


  .demo__item--before img {
    top: 18px;
    left: 28px;
  }

  .demo__item--after img {
    right: 124px;
  }

}
