/* Block gift */


//Mobile version


.gift {
  position: relative;

  box-sizing: border-box;
  width: 280px;
  height: 290px;
  padding-top: 188px;

  text-align: center;

  background-image: url('../img/gift/gift-bg-mobile.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: map-get( $bg-color, green-light );
  background-size: 280px, auto;

  @media ( min-resolution: $resolution-dpi-2x ),
  ( min-resolution: $resolution-dppx-2x ) {
    background-image: url('../img/gift/gift-bg-mobile@2x.jpg');
  }

  @media ( min-resolution: $resolution-dpi-3x ),
  ( min-resolution: $resolution-dppx-3x ) {
    background-image: url('../img/gift/gift-bg-mobile@3x.jpg');
  }
}

.gift::before {
  content: '';

  position: absolute;
  top: 65px;
  left: 113px;

  display: block;
  width: 55px;
  height: 60px;

  background-image: url('../img/gift/gift.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.gift__text {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: map-get($text-color, white);
}


//Tablet version

@media ( min-width: $tablet-width ) {

  .gift {
    display: flex;
    justify-content: flex-start;
    width: 708px;
    height: 200px;
    padding: 0;

    background-image: url('../img/gift/gift-bg-tablet.jpg');
    background-size: 708px, auto;

    @media ( min-resolution: $resolution-dpi-2x ),
    ( min-resolution: $resolution-dppx-2x ) {
      background-image: url('../img/gift/gift-bg-tablet@2x.jpg');
    }

    @media ( min-resolution: $resolution-dpi-3x ),
    ( min-resolution: $resolution-dppx-3x ) {
      background-image: url('../img/gift/gift-bg-tablet@3x.jpg');
    }
  }

  .gift::before {
    left: 91px;
  }

  .gift__text {
    align-self: center;
    margin: 0;
    margin-left: 422px;

    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }

}


//Desktop version 

@media ( min-width: $desktop-width ) {

  .gift {
    justify-content: center;

    width: 245px;
    height: 290px;
    margin: 0;
    
    background-image: url('../img/gift/gift-bg-desktop.jpg');
    background-size: 245px, auto;

    @media ( min-resolution: $resolution-dpi-2x ),
    ( min-resolution: $resolution-dppx-2x ) {
      background-image: url('../img/gift/gift-bg-desktop@2x.jpg');
    }

    @media ( min-resolution: $resolution-dpi-3x ),
    ( min-resolution: $resolution-dppx-3x ) {
      background-image: url('../img/gift/gift-bg-desktop@3x.jpg');
    }
  }

  .gift::before {
    left: 96px;
  }

  .gift__text {
    align-self: flex-end;
    margin: 0;
    margin-bottom: 42px;
    text-align: center;
  }
}
