/* Block main-nav */


//Mobile version



//Only mobile version

@media (max-width: $mobile-only-width) {

  .main-nav--opened .main-nav__list {
    display: block; 
  }

  .main-nav--closed .main-nav__list {
    display: none; 
  }

  .main-nav .main-nav__toggle {
    position: relative;

    display: block;

    background-color: transparent;
    border: none;

    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .main-nav--opened .main-nav__toggle {
    position: absolute;
    top: 23px;
    right: 23px;

    width: 18px;
    height: 18px;
  }

  .main-nav--opened .main-nav__toggle::before {
    position: absolute;
    top: 50%;
    left: 0;

    width: 24px;
    height: 2px;

    content: '';
    background-color: $black;

    transform: rotate(45deg);
  }

  .main-nav--opened .main-nav__toggle::after {
    position: absolute;
    top: 50%;
    left: 0;

    width: 24px;
    height: 2px;

    content: '';
    background-color: $black;

    transform: rotate(-45deg);
  }

  .main-nav--closed .main-nav__toggle {
    position: absolute;
    top: 23px;
    right: 20px;

    width: 24px;
    height: 18px;

    background-color: $white;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 2px;

    background-color: $black;
    box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;

    transform: rotate(0deg);
  }

  .main-nav--closed .main-nav__toggle::after {
    display: none; 
  } 

}


//Tablet version

@media ( min-width: $tablet-width ) {

  .main-nav .main-nav__toggle {
    display: none;
  }
}
