/* Block footer */


//Mobile version

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;

  background-color: map-get( $bg-color, gray-light );
}

.page-footer__logo {
  padding-top: 40px;
  padding-bottom: 30px;

  text-align: center;
}

.page-footer__social {
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer__copyright {
  padding: 20px;
}

//Tablet version

@media ( min-width: $tablet-width ) {

  .page-footer__wrapper {
    width: 768px;
  }

  .page-footer__inner-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
  }

  .page-footer__logo {
    padding: 0;
  }

  .page-footer__social {
    padding: 0;
  }

  .page-footer__copyright {
    padding: 0;
  }
}


//Desktop version

@media ( min-width: $desktop-width ) {

  .page-footer__wrapper {
    position: relative;

    width: 1440px;
  }

  .page-footer__inner-bottom {
    padding-top: 60px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 55px;
  }

  .page-footer__contacts {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 1;
  }
}
