/*Block program*/


//Mobile version

.program {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: map-get($text-color, white);
}

.program__wrapper {
  position: relative;
  
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 20px;
}

.program__wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 320px;
  height: 305px;

  content: '';
  background-image: url("../img/program/program-bg--small.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: map-get($bg-color, green);
  background-size: 320px, auto;

  @media ( min-resolution: $resolution-dpi-2x ),
  ( min-resolution: $resolution-dppx-2x ) {
    background-image: url('../img/program/program-bg--small@2x.jpg');
  }

  @media ( min-resolution: $resolution-dpi-3x ),
  ( min-resolution: $resolution-dppx-3x ) {
    background-image: url('../img/program/program-bg--small@3x.jpg');
  }
}

.program__title {
  margin: 0;
  margin-bottom: 20px;

  font: inherit;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.program__text {
  margin: 0;
  margin-bottom: 30px;
  
  text-align: center;
  text-transform: uppercase;
}

.program__image {
  margin-right: 45px;

  text-align: right;

  img {
    width: 235px;
  }
}

.program__button {
  margin: 0 auto;
}



//Tablet version

@media ( min-width: $tablet-width ) {

  .program {
    color: map-get($text-color, black);
  }

  .program__wrapper {

    width: 768px;
    padding-top: 70px;
    padding-bottom: 530px;
    padding-left: 120px;

    background: none;
  } 

  .program__wrapper::before {
    display: none;
  }

  .program__title {
    width: 500px;
    margin-bottom: 35px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .program__text {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .program__image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    width: 709px;
    margin-top: 265px;
    margin-right: 30px;

    img {
      width: 100%;
    }
  }

  .program__button {
    margin: 0;
  }
}


//Desktop version

@media ( min-width: $desktop-width ) {
  
  .program__wrapper {
    position: static;

    width: 1440px;
    padding-top: 115px;
    padding-left: 190px;
    padding-bottom: 270px;
  }

  .program__wrapper::before {
    left: 50%;

    display: block;
    width: 720px;
    height: 696px;

    background-image: url('../img/program/program-bg--big.jpg');
    background-size: 720px, auto;

    @media ( min-resolution: $resolution-dpi-2x ),
    ( min-resolution: $resolution-dppx-2x ) {
      background-image: url('../img/program/program-bg--big@2x.jpg');
    }

    @media ( min-resolution: $resolution-dpi-3x ),
    ( min-resolution: $resolution-dppx-3x ) {
      background-image: url('../img/program/program-bg--big@3x.jpg');
    }
  }

  .program__image {
    top: 0;
    left: 50%;

    width: 552px;
    margin: 0;
    margin-top: 142px;
    margin-left: -160px;
  }
}
