/* Block site-list */


//Mobile version

.site-list {
  width: 320px;
  margin: 0;
  padding: 0;

  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: map-get($text-color, black);
  text-transform: uppercase;
  text-align: center;

  list-style: none;
}

.site-list__item {
  padding: 0;

  border-bottom: 1px solid map-get( $line-color, silver );
}

.site-list__item:first-child {
  border-top: 1px solid map-get( $line-color, silver );
}

.site-list--index .site-list__item:last-child {
  border-bottom: none;
}

.site-list__item > a {

  display: block;
  padding-top: 25px;
  padding-bottom: 25px;

  color: inherit;

  cursor:pointer;

  &[href]:hover,
  &[href]:focus {
    color: rgba( map-get($text-color, black), 0.6 );
  }

  &[href]:active {
    color: rgba( map-get($text-color, black), 0.3 );
  }
}


//Tablet version

@media ( min-width: $tablet-width ) {

  .site-list {
    width: 500px;
    display: flex;
    justify-content: flex-end; 

    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .site-list .site-list__item {
    margin: 0;
    margin-right: 35px;
    padding-bottom: 10px;

    border: none;

    &:last-child {
      margin-right: 0;
    }

  }

  .site-list .site-list__item--active {
    border-bottom: 2px solid map-get($underline-color, green);
  }

  .site-list__item > a {
    padding: 0;
  }
}


//Desktop version

@media ( min-width: $desktop-width ) {

  .site-list {
    width: 700px;

    font-size: 20px;

    &--index {
      color: map-get($text-color, white);
    }
  }

  .site-list--index .site-list__item--active {
    border-bottom: 2px solid map-get($underline-color, white);
  } 
}
