/* Block social */


//Mobile version

.social__list {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  list-style: none;
  border-top: 1px solid map-get($line-color, gray-light);
  border-bottom: 1px solid map-get($line-color, gray-light);
}

.social__item {

  &--vk{
    margin-right: 35px;
  }

  &--insta {
    margin-right: 40px;
  }
}

.social__item svg {

  fill: map-get($icon-color, static);
}

.social__item--vk svg {
  width: 22px;
  height: 12px;
}

.social__item--insta svg {
  width: 16px;
  height: 16px;
}

.social__item--fb  svg {
  width: 10px;
  height: 19px;
}

.social__item a:hover svg,
.social__item a:focus svg {
  fill: map-get($icon-color, event);
}

.social__item a:active svg {
  fill: rgba( map-get($icon-color, event), 0.3 ); 
}



//Tablet verson {

@media ( min-width: $tablet-width ) {

  .social__list {
    padding: 0;

    border: none;
  }

  .social__item:not(:last-child) {
    margin-right: 30px;
  }

  .social__item--vk svg {
    width: 30px;
    height: 16px;
  }

  .social__item--insta svg {
    width: 23px;
    height: 23px;
  }

  .social__item--fb  svg {
    width: 14px;
    height: 28px;
  }
}
