/* Block stats */


//Mobile version

.stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;

  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: map-get($text-color, black);

  list-style: none;
}

.stats__item {
  display: flex;
  padding: 0;
  margin: 0;
}

.stats__item--result {
  flex-direction: column;
  align-items: center;
} 

.stats__item--total {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}


.stats__item .stats__subtitle {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
  color: map-get($text-color, gray);

  text-transform: lowercase;

}

.stats__item .stats__value {
  margin: 0;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.stats__item--result .stats__subtitle {

  order: 1;
  box-sizing: border-box;
  width: 87px;
  padding-left: 15px;
  padding-right: 15px;

  text-align: center;

  background-color: map-get($bg-color, gray-light);
}

.stats__item--result .stats__value{
  box-sizing: border-box;
  width: 124px;
  height: 56px;
  margin-bottom: -8px; 
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;
  border: 1px solid map-get($border-color, silver-light);
  border-radius: 3px;
}

.stats__item--total .stats__subtitle {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;  
  color: map-get($text-color, black);
  text-transform: uppercase;
} 

.stats__item--total .stats__value {
  margin-left: 3px;

  font-size: 14px;
  line-height: 20px;
  color: map-get($text-color, black);
}


//Tablet version

@media (min-width: $tablet-width) {

  .stats {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 80px;
  }

  .stats__item {
    margin: 0;
    padding: 0;
  }

  .stats__item:first-child {
    margin-right: 40px;
  }

  .stats__item--total {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    margin-left: auto;

  }

  .stats__item--result .stats__subtitle {

    width: auto;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 14px;
    line-height: 14px;

    background-color: map-get($bg-color, white);
  }

  .stats__item--result .stats__value {
    width: 162px;
    height: 72px;
    margin-bottom: -10px;
    padding-top: 20px;
    padding-bottom: 15px;

    font-size: 30px;
    line-height: 36px;
  }

  .stats__item--total .stats__subtitle {
    font-size: 20px;
  }

  .stats__item--total .stats__value {
    padding-top: 15px;
    font-size: 20px;
  }
}

//Desktop version 

@media ( min-width: $desktop-width ) {

  .stats {
    width: 368px;
    padding: 0;
  }

  .stats__item--total {
    flex-direction: row;
    padding: 0;
    padding-top: 60px;
    margin: 0;
  }

  .stats__item--total .stats__value {
    padding: 0;
    margin-left: 65px;
  }
}
