@font-face {
	font-family: 'Oswald';
	src: local('☺'), 
    url('../fonts/Oswald/Oswald-Regular.woff2') format('woff2'), 
    url('../fonts/Oswald/Oswald-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: local('☺'), 
    url('../fonts/Oswald/Oswald-Medium.woff2') format('woff2'), 
    url('../fonts/Oswald/Oswald-Medium.woff') format('woff'); 
	font-weight: 500;
	font-style: normal;
  font-display: swap;
}
