// color

$white: #ffffff;
$white-smoke-light: #f2f2f2;
$white-smoke: #ededed;
$white-smoke-dark: #ebebeb;

$black: #000000;
$black-almost: #111111;
$black-brown: #222222;

$gray-brown: #444444;
$gray-dim: #666666;
$telegray-light: #cdcdcd;
$grainsboro: #e6e6e6;
$gray-light: #d9d9d9;
$gray: #d3d3d3;
$gray-dark: #989898;
$silver-light: #bebebe;
$silver: #bababa;

$red: #ff8282;

$herbal: #5eaa2f;
$yellow-green-light: #68b738;
$yellow-green: #65a93c;
$yellow-green-dark: #63a73a;


$text-color: (
  white: $white,
  smoke: $white-smoke-light,
  black: $black-almost,
  black-light: $black-brown,
  gray: $gray-brown,
);

$bg-color: (
  white: $white,
  gray-light: $white-smoke-light, 
  gray-dark: $white-smoke-dark, 
  green-light: $yellow-green-light,
  green: $yellow-green,
  green-dark: $yellow-green-dark,
);

$btn-color: (
  green-static: $yellow-green-light,
  green-event: $herbal,
  gray-static: $white-smoke-light,
  gray-event:$white-smoke-dark,
);

$underline-color: (
  white: $white,
  green: $yellow-green-light,
  silver: $silver-light,
  gray: $gray-dark, 
);

$line-color: (
  black: $black,
  gray-light: $gray-light,
  gray: $gray,
  gray-dark: $telegray-light,
  silver-light: $white-smoke,
  silver: $grainsboro,
);

$border-color: (
  silver-light: $telegray-light,
  silver: $silver,
  smoke: $white-smoke,
  grainsboro: $grainsboro,
  gray-light: $gray-light,
  gray: $gray-brown,
  green: $yellow-green-light,
  red: $red,
);

$icon-color: (
  static: $gray-dim,
  event: $yellow-green-light,
  error: $red,
);


// @media

$mobile-width: 320px;
$mobile-only-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

$resolution-dppx-2x: 1.25dppx;
$resolution-dppx-3x: 2.25dppx;
$resolution-dpi-2x: 120dpi;
$resolution-dpi-3x: 216dpi;
